meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Primeros auxilios psicológicos y apoyo sociofamiliar
meta(meta name="description" content="Ser víctima de una agresión por agente químico se considera un evento traumático que desencadena una serie de reacciones de estrés agudo con manifestaciones físicas, cognitivas, emocionales y conductuales. Del proceso de adaptación que tenga la víctima y su familia a esta nueva situación va a depender su capacidad para volver a reintegrarse a la sociedad y tener una adecuada salud mental posterior a la situación traumática. Para favorecer este proceso de adaptación se requiere de intervenciones en salud mental en cada una de las etapas del proceso de atención, estas intervenciones pueden ser no especializadas con la aplicación de los primeros auxilios psicológicos y especializadas a través de la atención por un equipo interdisciplinario en salud mental. Con la realización de estas intervenciones también se disminuye la probabilidad de trastornos de salud mental como: trastorno de estrés postraumático, depresión, ansiedad, consumo de sustancias psicoactivas, entre otros.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")