h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('play', 'Introducci贸n', 'main.html#page/introduccion/')                              
                    +navTemaItem('1', 'Impacto psicol贸gico', 'main.html#page/impacto/')
                    +navTemaItem('2', 'Protocolo de primeros auxilios psicol贸gicos', 'main.html#page/protocolo/')
                    +navTemaItem('3', 'Valoraci贸n y seguimiento por especialista en salud mental', 'main.html#page/seguimiento/')
                    +navTemaItem('4', 'Apoyo sociofamiliar', 'main.html#page/sociofamiliar/')
