h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Aplicar primeros auxilios psicológicos (PAP) teniendo en cuenta guía de atención y normativa vigente.