.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KUqhwhDrPks', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
                
        p.mt-5 Una atención en salud mental que inicie prontamente, que reconozca a las víctimas como sujetos de derechos, que las acompañen el proceso de reconocerse y que les brinde herramientas para lidiar con el día a día después del trauma, es lo que permitirá que puedan restablecer su equilibrio emocional, construir resiliencia y llevar adelante un nuevo proyecto de vida. 
        
        p De lo contrario, tendrá menos posibilidades de afrontar el estrés agudo y el posible estrés postraumático, lo que puede hacer que los síntomas se conviertan en mucho más lesivos emocionalmente.