.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td ¿cómo atender a una víctima por agente químico específicamente en material de salud mental?
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=xYqx31jMh0Q", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver
                tr
                    td Atención integral en salud mental para víctimas de ataques con agentes químicos
                    
                    td Libro
                    td 
                        a(href="https://repositorio.unbosque.edu.co/handle/20.500.12495/3518", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Manual ABCDE para la aplicación de primeros auxilios psicológicos. 
                    
                    td Libro
                    td 
                        a(href="https://medicina.uc.cl/wp-content/uploads/2018/08/Manual-ABCDE-para-la-aplicacion-de-Primeros-Auxilios-Psicologicos.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver
            
                tr
                    td Paso A: escucha activa, primeros auxilios psicológicos.
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=hbVfsJ8KJJA", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver
            
                tr
                    td  Paso B: reentrenamiento de ventilación
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=PUeoOGeClmc", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver
            
                tr
                    td Paso C: Categorización de necesidades
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=rEUbAVOmUYI&t=175s", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver
            
                tr
                    td Paso D: derivación a redes de apoyo
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=w6tMyUt81DU&t=23s", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver
            
                tr
                    td Paso E: psicoeducación
                    
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=aN2UFVng8RY&t=105s", target="_blank") <span class="fa fa-youtube-play mr-3" aria-hidden="true"></span> ver